In [1]:
import numpy as np
import pandas as pd 
import scipy.stats as st
import math

In [2]:
data = pd.read_csv('/Sales_add.csv')

In [3]:
data.head()

     Month  ... Sales_After_digital_add(in $)
0  Month-1  ...                        270390
1  Month-2  ...                        223334
2  Month-3  ...                        244243
3  Month-4  ...                        231808
4  Month-5  ...                        258402

[5 rows x 5 columns]

In [4]:
data.isna()

    Month  ...  Sales_After_digital_add(in $)
0   False  ...                          False
1   False  ...                          False
2   False  ...                          False
3   False  ...                          False
4   False  ...                          False
5   False  ...                          False
6   False  ...                          False
7   False  ...                          False
8   False  ...                          False
9   False  ...                          False
10  False  ...                          False
11  False  ...                          False
12  False  ...                          False
13  False  ...                          False
14  False  ...                          False
15  False  ...                          False
16  False  ...                          False
17  False  ...                          False
18  False  ...                          False
19  False  ...                          False
20  False  ...                          False
21  False  ...                          False

[22 rows x 5 columns]


*   **The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

For that we take a Hypothesis test
Assume a Null Hypothesis H0: There is no difference in sales before and after digital marketing and Alternative Hypothesis H1: The sales after digital marketing is greater with a fixed significance value as 0.05.

In [13]:
after=data["Sales_After_digital_add(in $)"]
before=data["Sales_before_digital_add(in $)"]

In [16]:
st.ttest_rel(after,before)

Ttest_relResult(statistic=12.09070525287017, pvalue=6.336667004575778e-11)

since the p value is greater than significance level we reject the null hypothesis and accept the alternative hypothesis. Thus by Hypothesis testing, we can conclude that the sales after digital marketing is greater

*  **The company needs to check whether there is any dependency between the
features “Region” and “Manager”**

To test the dependency between 'Region' and 'Manager'we take Null Hypothesis H0: Region and Manager are independent attributes and Alternative Hypothesis H1: Region and Manager are dependent on each other,We fix significance value at 0.05 as alpha

In [17]:
data['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [19]:
data['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [20]:
con = pd.crosstab(data.Region, data.Manager, margins=True)

In [22]:
con

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [27]:
var = np.array([con.iloc[0][0:3].values, con.iloc[1][0:3].values, con.iloc[2][0:3].values])
st.chi2_contingency(var)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

Since the pvalue is greater than alpha we accept the null hypothesis that is; "Region" and "Manager" are independent